


*{
    padding: 0;
    margin: 0;
    /* text-align: center;
    justify-content: center;
    align-items: center; */
}
/* button styling */
.btn-yellow{
    height:2rem;
    width:3.5rem;
    border: 2px solid gold;
    padding: 7px;
    background-color: gold;
    color: #000;
    font-size: 2rem;
    text-decoration: none !important;
}
.btn-yellow:hover{
    border: 2px solid rebeccapurple; 
    background-color: rebeccapurple;
    color: white;
}

.btn-purple{
    height: 2rem;
    width: 3.5rem;
    border: 2px solid rebeccapurple;
    padding: 7px;
    background-color: rebeccapurple;
    color: white;
    font-size: 2rem;
   text-decoration: none !important;
}
.btn-purple:hover{
    border: 2px solid gold;
    background-color: gold; 
    color: #000; 
}

.container{
    width: 800px;
}




/* headsection */
#head-section{
    background: url("other/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    padding: 0;
    margin: 0;
}


/* navbar */
.navbar .container{
    display: flex;
     /* border: 2px solid red; */
}
.container .logo{
    padding:10px 15px 15px 0px;
    text-align: left;
    margin-left:0px;
    font-weight:bolder;
    font-size: 3rem;
    margin-right: 205px;
    color:#fff;
}
.container .nav-item ul{
    display: flex;
 list-style: none;
}
.container .nav-item ul li{
    padding:15px 15px 0px 15px;
    color:#fff;
}
.container .nav-item ul li:hover{
    color: gold;
}

/* header section */
.header .container{
    margin-top: 100px;
width: 800px;
height: 500px;
/* border: 2px solid red; */
align-items: left;
justify-content: left;
text-align: left;
}
.header .container .head{
text-align: left;
/* border: 2px solid red; */
margin: 0px;
width: 450px;
}

.header .container .head h1{
    font-weight:bolder;
    font-size: 4rem;
    color:#fff;
}
.header .container .head p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.7rem;
    color: #fff;
}
.header .container .button .btn-purple{
    margin-left: 0px;
}
.header .hr{
    display: grid;
    margin:0px;
    color: #fff;
    /* border: 2px solid red; */
}

/* about section */
.about .container h1{
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
}
.about .container .about-us{
    display: flex;
    margin: 50px 0px 35px 0px;
}
.about .container .about-us .about-para{
    color:gray;
    font-size: 2rem;
    margin-right: 30px;
    width: 450px;
    /* border: 2px solid red; */
}
.about .container .about-us .about-img{
   margin-left: 10px;
    width: 250px;
    text-align: right;
}
.about .container .about-us .about-img img{
    height: 170px;
    width: 230px;
    /* border: 2px solid red; */
}

.about .container .about-card{
    display: flex;
    justify-content:space-between;
   
}
.about .container .about-card .card{
text-align: center;
justify-content: center;
align-items: center;
  /* border: 2px solid red; */
  height: 350px;
  width: 200px;
  padding: 5px;
  line-height: 2.5rem;
 
}
.about .container .about-card .card h4{
    margin:25px 0px 15px 0px;
    color: rebeccapurple;
    font-weight: bold;
}
.about .container .about-card .card p{
    line-height:2.5rem;
    color: gray;
}

  

.about .container .about-card .card div{
   text-align: center;
    justify-content: center;
    /* border: 2px solid red; */
    margin: auto;
   
}
.about .container .about-card .card-img {
 height: 70px;
 width: 70px;
 background-color: rebeccapurple;
    border-radius: 50%;
    text-align: center;
}
.about .container .about-card .card-img img{
    height: 40px;
    width: 40px;
    margin-top:13px;
}

/* project section */
.projects{
    margin:15px 0px 0px 0px;
    display: flex;
}
.project-head{
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
} 

.projects .project-all .project-img{
    height: 350px;
width:100%;

background-repeat: no-repeat;
background-size: cover;
margin: 0;
}
.projects .project-all .project-img img{
height: 350px;
width: 100%;
}
.projects .project-all .project-disc{
    height: 240px;
    text-align: left;
    padding: 15px;
    line-height: 3rem;
}
.projects .project-all .project-disc.one{
    background-color: rgb(240, 235, 235); 
   }
   
   .projects .project-all .project-disc.two{
       background-color: gold;
   }
   
   .projects .project-all .project-disc.three{
    background-color: rgb(240, 235, 235); 
   }
   
   .projects .project-all .project-disc.four{
       background-color:gainsboro;
   }
   .projects .project-all .project-disc .btn-purplee{
    padding:10px 25px 10px 25px;
    width: 40px; 
    background-color: rebeccapurple;
    color: white;
    font-size: 2rem;
   text-decoration: none !important;
   }
  
   
   .projects .project-all .project-disc .btn-purplee:hover{
    background-color: white;
       color: black;   
   }


   .btn-white{
       background-color: white;
       color: black;
       padding:10px 25px 10px 25px;
       width: 40px;
       font-size:1.8rem;
       text-decoration: none !important;
        }
.btn-white:hover{
background-color: gold;
        }
        .projects .project-all .project-disc .btn-purple:hover{
            background-color: white;
            color: black;
        }  



/* pricing section */
.pricing .price-heading{
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    margin:70px 0px 15px 0px;
}
.pricing .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.pricing .container .card{
    text-align: center;
    
}
.pricing .container .card h6{
    margin:20px 0px 20px 0px;
    color: gray;
}
.pricing .container .card .btn-purple{
    padding:5px 25px 5px 25px;
}
.pricing .container .card .btn-yellow{
    padding:5px 30px 5px 30px;
}
.pricing .container .vertical{
    background-color: rgb(187, 185, 185);
    width: 2px;
    height:231px ;
    margin-top:26px;
}


/* vedio section */

.vedio{
    background-color: rebeccapurple;
    padding-bottom:90px;
   
}
 .vedio-heading{
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    color: #fff;
    padding-top: 60px;
}
.vedio .vedio-bg{
   justify-content: space-between;
    display: flex;
    
   
}
.demoVideo {
   
    z-index: 20;
    background-color: transparent;
    min-width:31%;
    min-height: 75%;
   
    top: 10%;
   
    }


   

   
/* team section */
.team{
    margin-bottom: 100px;
}
.team-heading{
    margin:50px 0px 15px 0px;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.team .container .grid-container{
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: auto auto auto;
}
.team-all{
  padding-top: 15px;
    text-align: center;
   
}
.team .team-all img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.team .team-all img:hover{
    opacity: 0.5;
    color: rebeccapurple;
}

/* life section */
.life{
    background-color: gainsboro;
    margin: 0;
   padding-bottom: 100px;
   padding-top: 30px;
   bottom: 0%; 
   margin-bottom: 0px;
   font-size: 0px;
   overflow: auto;
  
}

.life .life-heading{
    font-weight: bold;
    font-size: 4rem;
    margin:50px 0px 15px 0px;
    text-align: center;
}
.life .life-img{
 height: 400px;
 width: 700px;
 
}

.life .life-img img{
    margin-left: 30px;
    height:400px;
    width: 700px;
}

.life .img-gallery{
    display: flex;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 20px;
    justify-content: space-between;
}
.life .img-gallery img{
height: 100px;
width: 110px;
}



/* singup section */
.signup{
    text-align: center;
    margin-top: -60px;
    background-image: url("other/bridge2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 800px;
    height: 400px;
   padding: 0px;
   font-size:0px;
}
.signup .signup-heading{
    font-weight: bold;
    font-size: 4rem;
    margin:50px 0px 15px 0px;
    text-align: center;
    color:white;
    padding-top: 30px;
}
.signup .container .signup-form{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 20px 0px 0px 0px;
}
.signup .container .signup-form input{
    font-size: 2rem;
    width: 500px;
    padding: 10px;
}
.signup .container .signup-form .signup-btn {
    display: grid;
}
.signup .container .signup-form .signup-btn .btn-yellow{
    width: 115px;
    height: 52px;
    margin-bottom: 13px;
   
   
}
.signup .container .signup-form .signup-btn .btn-purple{
    width: 115px;
    height: 52px;  
}

/* blog */
.blog .blog-heading{
    font-weight: bold;
    font-size: 4rem;
    margin:50px 0px 15px 0px;
    text-align: center;
}

.blog .container {
  margin-bottom:100px ;  
}
.blog .container .blog-card{
    display: flex;
    justify-content: space-between;
   

}
.blog .container .card h3{
    font-weight: bold;
}
.blog .container .card h4{
    color: gray;
    margin:15px 0px 15px 0px;
}
.blog .container .card p{
    line-height: 2rem;
}
.blog .container .card{
    /* border: 2px solid red; */
text-align: center;
margin:20px;
}
.blog .container .card img{
    height: 150px;
    width: 230px;

}
.blog .btn-yellow{
    background-color: gainsboro;
    color: black;
    border: 2px solid gainsboro;
}

/* contact */
.contact{
    margin:0px;
    display: flex;
    height: 600px;
}
.contact .map{
    width: 50%;
}
.contact  iframe{
    width:100%;
}
.contact .contact-form{
    background-color: gold;
    width: 50%;
    padding-left: 40px;
}
.contact .contact-form form{
display: grid;
width: 60%;
line-height: 2rem;
}
.contact .contact-form form input{
    height: 40px;
    border: none;
}
.contact .contact-form form label{
    margin-top: 10px;
}
.contact .contact-form form .message{
    height: 150px;
}
.contact .contact-form .btn-purplle{
    width:100%;  
    height: 50px;
    margin-top: 20px;
    font-size: 1.5rem;
    background-color: rebeccapurple;
    color: white;
    border: 2px solid rebeccapurple;
}
.contact .contact-form .contact-heading{
    font-weight: bold;
    font-size: 4rem;
    margin:30px 0px 10px 0px;
    text-align: left;
}

/* footer section */
.footer .container{
    padding: 80px 0px 100px 80px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
.footer .container .foot h3{
    font-weight: bold;
    margin:0px 0px 20px 0px;
}
.footer .container .foot h5{
    line-height: 1.6rem;
}
.footer .footicon .icon-all{
    display: grid;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    grid-template-columns: auto auto auto;
}
.footer .footicon h5 i{
    color:black !important;
    
    font-size: 20px;
}